<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CJCustomTabBar2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA3887121F4135010032F51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA38872B1F4135020032F51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3887361F4135020032F51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
